
    .lettinggo-caption{
        color: white;
        font-family: cursive;
   }

  #pills-lettinggo-para{
    min-height: 50px;
    padding-bottom: 100px !important;
  }
  
  #pills-lettinggo-para::before{
    content: '';
    color: whitesmoke;
    letter-spacing: .1em;
    font-weight: 500;
    animation: rotator infinite 120s;
    z-index: 20;
  }
  
  @keyframes rotator{
    0%{
      content: 'breathe in';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    8%{
      content: 'breathe out';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    16%{
      content: 'gently roll your shoulders';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    24%{
      content: 'let go of the tension';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    32%{
      content: 'relax your face';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    40%{
      content: 'unlench your jaw';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    48%{
      content: 'let your shoulders drop';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    56%{
      content: 'loosen your neck';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    64%{
      content: 'feel the heaviness';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    72%{
      content: 'exhale slowly';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    80%{
      content: 'let it go';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    88%{
      content: 'you are strong';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    94%{
      content: 'you are serene';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
     100%{
      content: 'you are free';
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
    
  }
  
  
  .lettinggo-box {
    position: relative;
    display: block;
    width: 80px;
    margin: 60px auto;
    height: 150px;
  }
  
  .lettinggo-box .delay1 {
    animation: waves infinite linear 2.0s forwards;
    animation-delay: 0.4s;
  }
  
  .lettinggo-box .delay2 {
    animation: waves infinite linear 2.8s forwards;
    animation-delay: 0.2s;
  }
  
  .lettinggo-box .delay3 {
    animation: waves infinite linear 3.4s forwards;
    animation-delay: 0.1s;
  }
  
  .lettinggo-box .delay4 {
    animation: waves infinite linear 3.8s forwards;
  }
  
  .svg-box {
    position: relative;
    z-index: 10;
  }
  
  .circle {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgb(134,184,181);
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: 0px
  }
  
  @keyframes waves {
    0%{
      transform: scale(2);
      opacity: 1;
    }
    25%{
        transform: scale(4);
        opacity: 0.75;
    }
    50%{
        transform:scale(6);
        opacity: 0.50;
    }
    100%{
      transform: scale(8);
      opacity: 0;
    }
  }
  
  @keyframes bloop {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }