.App {
  background-color: white;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.start{
  min-height: 100vh;
  background-image: url("/assets/3.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media(max-width:800px){
  .start{
    min-height: 100vh;
    background-image: url("/assets/3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.screen1{
  background: linear-gradient(to bottom, #91ecf2 22%, #f5f9ff 79%);
 min-height: 100vh;
}

.splash{
  position: fixed;
  top:0;
  left: 0;
  background:url("/assets/bot4.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  width: 100%;
  z-index: 200;
  text-align: center;
  line-height: 5em;
  opacity: 1;
  animation: splashIn 2s ease-in-out forwards
}



@keyframes splashIn{
  to{
    opacity: 0;
  }
}
@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  padding-top: 4em;
  padding-right: 500px;
  font-size: 75px;
  animation: fadeIn 1s ease-in forwards;
}

.passage2{
  background: linear-gradient(to bottom, #91ecf2 22%, #f5f9ff 79%);
  background-size: center;
  padding-top: 100px;
  min-height: 100vh;
}

h2 , h1{
  color: #606060 !important;
}
h3{
  color: #606060;
}

.title{
  padding-top: 250px;
}
.heading-1{
  color: #000;
  font-size: 30px;
  padding-bottom: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}
.heading-2{
  font-size: 25px;
  color:  #1b1a1a;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

@media(max-width:991px){
  .heading-1{
    color: #000;
    font-size: 22px;
    padding-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .heading-2{
    font-size: 18px;
    color: #1b1a1a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
  }
}

.fa-chevron-down{
  color: #1b1a1a;
}
.large{
  font-size: 30px;
}

.heading-pas1-1{
  color: #606060;
  font-size: 30px;
  padding-bottom: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading-pas1-2{
  font-size: 22px;
  color: #484848;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width:991px){
  .heading-pas1-1{
    color: #606060;
    font-size: 22px;
    padding-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .heading-pas1-2{
    font-size: 17px;
    color: #484848;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

.form-control{
  border-radius: 100px !important;
  z-index: -100;
}


.btn-name{
  background:#ccc !important;
    border-radius: 50px !important;
}


.final{
 background: rgb(255,255,255);
  min-height: 100vh;
  padding-top: 70px;
}
.navbar-dark{
  background:#91ecf2;
}

.navbar-brand{
  color: #010101 !important;
  font-size: 18px !important;
  letter-spacing: 2px;
  padding-left: 5em;
}
@media (max-width:991px){
  .navbar-brand{
    color: #010101 !important;
    font-size: 18px !important;
    letter-spacing: 2px;
    padding-left: 0.5em;
  }
}
.link{
  color: black !important;
  padding-left: 10em !important;
}

.page-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 400ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateY(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: all 400ms ease-out;
}

.bot{
  padding-top:3em;
  border: 1px black !important;
  border-radius: 50% !important;
  height: 60px;
  width: 70px;
  position: relative;
  font-size: 26px;
  margin: 0 10px;
}  

.play{
  padding-top:3em;
  background: transparent url('./images/play1.png') !important;
  background-position: right -12px top -9px !important;
  background-repeat: no-repeat !important;
  border-radius: 50% !important;
  height: 60px;
  width: 70px;
  position: relative;
  font-size: 26px;
  margin: 0 10px;
}  

.wellness{
  padding-top:3em;
  background: transparent url('./images/wellness.png') !important;
  background-position: right -10px top -6px !important;
  background-repeat: no-repeat !important;
  border-radius: 50% !important;
  height: 60px;
  width: 68px;
  position: relative;
  font-size: 26px;
  margin: 0 10px;
}  

.fa-robot{
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.bot-p{
  font-weight: 500;
  font-size: 12px;
  padding-top: 0.5em;
  position: absolute;
  left:15px;
}

.play-p{
  font-weight: 500;
  font-size: 12px;
  padding-top: 0.5em;
  position: absolute;
  left:30px;
}

.wellness-p{
  font-weight: 500;
  font-size: 12px;
  padding-top: 0.5em;
  position: absolute;
  left:20px;
}

.parent{
  position: relative;
}

#dropdown{
  background: #91ecf2;  
}

.botpage{
  background: linear-gradient(to bottom, pink 22%, #f5f9ff 79%) !important;
  min-height: 100vh;
}

#talk-button{
  background: rgb(47, 151, 174) !important;
  color:white !important; 
}

hr{
  border:0;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(247, 244, 244) !important;
  height: 1px;
}

